# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Ll]ibrary/
/[Bb]uild/

/cmake_build.bat
/cmake_refresh_VS2019.bat
/TODO.txt

#GitIgnore for the Unreal Engine Project
/Unreal_Engine_Project/Binaries/
/Unreal_Engine_Project/Intermediate/
/Unreal_Engine_Project/Build/
/Unreal_Engine_Project/Saved/

# Visual Studio cache directory
.vs/

